// Fonts
$mainFont: 'Lato';
$logoFont: 'Damion';

// Colors
$mainWhite: #fff;
$mainBlue: #74c7d5;
$mainPink: #ec9da2;

// Size
$titleOneSize: 13.85rem;
$mainTitleSize: 6rem;
$logoSize: 5rem;
$articleSize: 1.4rem;

// Screen
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';
