.navigation {
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  &-home {
    position: absolute;
  }

  &__menu {
    &_list {
      list-style: none;
      display: flex;
      padding-left: 0;
      margin-right: 23rem;

      li {
        color: $mainWhite;
        font-size: 1.8rem;
        text-transform: capitalize;
        text-align: center;
        width: 10rem;
        height: 7.2rem;
        border-radius: 0 0 0.5rem 0.5rem;
        padding-top: 4.1rem;
        padding-bottom: 1.6rem;
        margin-right: 1rem;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        }
      }
      .home__list_item-active {
        background-color: $mainBlue;
      }
      .services__list_item-active {
        background-color: #df5c64;
      }
      .about__list_item-active {
        background-color: #91778e;
      }
      .work__list_item-active {
        background-color: #a1ca6c;
      }
      .contacts__list_item-active {
        background-color: #82c8bd;
      }
    }
  }
}
