.slogan {
  width: 90rem;
  height: 17rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  & h2 {
    @include titleFont($mainBlue);
    text-align: right;
    line-height: 0.9;
  }

  &_article-big {
    margin-right: 6rem;
    margin-left: 2.3rem;
    & h2 {
      font-size: 13.8rem;
      font-weight: 900;
      text-align: left;
    }
  }
}
