.contacts {
  @include section(86.8rem);
  background: left top -15rem / contain no-repeat url(../images/sublayer-contacts.webp),
    #75b4aa;

  &__article {
    width: 105.3rem;
    text-align: center;
    h2 {
      @include titleFont();
      text-transform: uppercase;
      margin-bottom: 3.4rem;
    }

    p {
      font-size: 1.4rem;
      color: $mainWhite;
      line-height: 1.71;
    }
  }
  &__content {
    display: flex;
    width: 110rem;
    height: 35.3rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8rem;

    .adress {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_line {
        width: 20rem;
        // height: 27.2rem;
        margin-right: 4rem;
        h3 {
          font-size: 3rem;
          font-weight: 300;
          color: $mainWhite;
          margin-bottom: 2.7rem;
        }
        h4 {
          font-size: 2rem;
          font-weight: bold;
          color: #c0dfda;
          margin-bottom: 1.9rem;
        }
        p {
          font-size: 1.6rem;
          font-weight: normal;
          color: $mainWhite;
          margin-bottom: 6rem;
        }
        .contact_datas {
          display: flex;
          justify-content: space-between;
          span {
            font-size: 1.6rem;
            font-weight: normal;
          }
          .contact_name {
            span {
              color: #d0efea;
            }
          }
          .contact_data {
            span {
              color: $mainWhite;
              &:nth-of-type(3) {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &_map {
        margin-top: 6.3rem;
        margin-right: 4.9rem;
        iframe {
          border-radius: 0.4rem;
          border-style: none;
        }
      }
    }
    .feedback {
      h3 {
        font-size: 3rem;
        font-weight: 300;
        color: $mainWhite;
        margin-bottom: 2.7rem;
      }
    }
  }
}
