@import './utils';
@import './layout';
@import './components';

body {
  font-family: $mainFont;
  // cursor: none;
  cursor: url(../images/cursor.png), default;
  // position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 160rem;
  margin: auto;
}
